@import "tailwindcss";

.container {
    max-width: 1280px;
    padding: 0 20px;
    margin: auto;
}

@theme {
    --color-lightblack: #231F20;
    --color-yellow: #F7D22D;
    --color-gray: #F3F3F7;
    --color-visible: #696F7A;
    --color-darkgray: #797979;
    --color-black: #0E0C0D;
}

button {
    cursor: pointer;
}